.container {
    position: relative;
    min-width: 125px;
    max-width: 125px;
    width: 125px;
    min-height: 200px;
    box-shadow: rgba(110, 110, 110, 0.35) 0px 2px 8px;
    border-radius: 8px;
    display: grid;
    place-items: center;
    margin: 2px;
}

.container:hover {
    background: #f2f2f2;
}

.name {
    position: absolute;
    bottom: 12px;
    left: 12px;
}