.me {
    display: flex;
    text-align: right;
    flex-direction: row-reverse;
}

.you {
    display: flex;
}

.info {
    display: inline-block;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}