.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab {
    font-weight: 600;
    /* color: #919191; */
    color: black;
    background: none;
    border: none;
    padding: 18px;
    box-sizing: border-box;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
}

.activeTab {
    background: white;
    border-bottom: 4px solid #1778F2;
    color: #1778F2;
}

.tab:hover {
    background: #e5e5e5;
}